.nav-icon-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0px;
  }
  
  .search-container {
    position: relative;
    display: inline-block;
  }
  
  .search-icon {
    font-size: 40px;
    cursor: pointer;
  }
  
  .search-bar {
    position: absolute;
    top: 45px;
    left:-40px;
    width: 180px;
    padding: 6px 8px;
    font-size: 14px;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 2;
  }
  
  .search-container:hover .search-bar {
    opacity: 1;
    top: 50px;
  }
  
  .nav-icon {
    font-size: 40px;
    margin-left: 10px;
  }
  
  .log-container {
    position: relative;
    display: inline-block;
  }
  
  .log-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(250, 250, 250, 0.8);
    color: white;
    display: none;
    flex-direction: column;
    padding: 8px;
    border-radius: 5px;
    transition: all 0.3s ease;
    z-index: 2;
  }
  
  .log-wrapper a {
    text-decoration: none;
    color: black;
    margin: 5px 0;
  }
  
  .log-container:hover .log-wrapper {
    display: flex;
  }
