.sidebar,body,html{
    height: 100%;
}

.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar a{
    color: black;
    text-decoration: none;
}

.sidebar ul li{
    padding: 10px;
    margin: 15px;
    text-align: center;
}

.sidebar ul li:hover{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    transform: scale(1.05);
    transition: all 0.3s ease;
}
