html,body{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.5);
}

.container{
    padding: 20px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    background-color: white;
}

.container h2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container img{
    width: 50px;
    height: 50px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input{
    width: 500px;
    height: 30px;
    border: 0;
    border-bottom: 1px rgb(0, 0, 0, 0.5) solid;
    margin-bottom: 2px;
}

form input:focus{
    outline: none;
    border-bottom: 3px black solid;
    margin-bottom: 0;
}

form button{
    width: 200px;
    height: 30px;
    align-self: center;
    margin: 10px;
    border-radius: 15px;
    border: 0;
    box-shadow: 0 0 5px black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

form button:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.facebook:hover{
    color:white;
    background-color: blue;
}

.google:hover{
    color: white;
    background-color: rgb(204, 57, 57);
}

.line{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.line span{
    border: 1px rgb(0, 0, 0, 0.5) solid;
    width: 200px;
}

form a{
    text-decoration: none;
    color: brown;
    align-self: center;
}

form a:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.back{
    position: fixed;
    top: 50px;
    left: 50px;
    color: white;
    font-size: 50px;
    cursor: pointer;
}

.back:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}